    {% extends "base.html" %}
    {% block contents %}
     <section class="jumbotron text-center backgroundPerfil">
        <div class="container">
            <img class="foto-perfil"
                src="https://media-exp1.licdn.com/dms/image/C4E03AQFFV3L3Uz3YNQ/profile-displayphoto-shrink_800_800/0/1636913124053?e=1643846400&v=beta&t=LoksXDf0pFppY6OkqY_PeVHYYafwcre9oO8JI5ucU6o"
                alt="Foto Perfil">
            <h1 class="jumbotron-heading textoBranco">Priscila Silva</h1>
            <p class="lead textoBranco">Estudante Universitária em Desenvolvimento de Sotfware Multiplataforma na
                Instituição de Ensino Fatec São José dos Campos Prof. Jessen Vidal.
            </p>

            <a href="https://www.linkedin.com/in/priscilasilva1801/"><i class="textoBranco fab fa-linkedin"></i></a>
            <a href="https://github.com/prsilva"><i class="textoBranco fab fa-github"></i></a>
            <a href="https://codepen.io/priselahh"><i class="textoBranco fab fa-codepen"></i></a>
        </div>
    </section>

    <!--Contato-->
    <section class='corPrimaria' id="contato">
        <div>
            <div class="container-fluid">
                <h3 style="padding-top:60px" class="text-center titulosBrancos">Contato</h3>
                <a href="https://api.whatsapp.com/send?phone=5512991809554">
                    <h4 style="padding-bottom: 16px; margin-bottom: 0px;" class="text-center">
                        Whatsapp</h4>
                </a>
                <a href="mailto:priscila.silva140@fatec.sp.gov.br">
                    <h4 style="padding-bottom: 60px; margin-bottom: 0px;" class="text-center">
                        priscila.silva140@fatec.sp.gov.br</h4>
                </a>
            </div>
        </div>
    </section>
    {% endblock %}



