<!DOCTYPE html>
<html lang="pt">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/260dca33f7.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    {% block nav &}
    <nav class="corSecundaria navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand textoBranco" href="#">Sobre Mim</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link textoBranco" href="projetos.html">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textoBranco" href="sobre-mim.html">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textoBranco" href="tela-home.html">Contato</a>
                </li>
            </ul>
        </div>
        {% endblock %}
    </nav>


    <!--Sobre mim-->
    {% block contents %}
    <section class="jumbotron text-center corPrimaria" id="sobre-mim">
        <div container>
            <h2 class="jumbotron-heading titulosBrancos">Sobre mim</h2>
            <p class="lead textoBranco text-justify">"Sou Priscila, tenho 25 anos, natural de São José dos Campos-SP.
                Sou formada em
                RH e atuei na área de humanas por cinco anos.
                Desde a saída do ensino médio eu fui migrando para
                diferentes áreas de atuação no objetivo de me encontrar e também gostar da área. Já trabalhei com
                telemarketing, estagiária em cartório, comércio e por fim na área de ADM onde adquiri meu maior tempo de
                experiencia no Instituto Nacional de Pesquisas Espaciais. No período em que fiquei lá excercerci nos
                cargos de: recepcionista,
                secretária, auxiliar de logística, auxiliar de RH, e também no setor de correio.
                Decidi mudar de carreia nao porque área ou empresa que eu estava fosse ruim, por um tempo eu gostava do
                que estava
                fazendo, mas de um ano pra cá comecei a repesar sobre minha vida profissional e me questionar se eu
                estava decidida mesmo em permanecer onde estava ou tentar algo novo. Decidi entao fazer uma transição de
                carreira para a área de tecnologia. Não foi dificil escolher porque eu já gostava desde adolescente de
                todo o universo
                voltado pra área de TI e sempre gostei de me interagir com a tecnologia e estar vivendo junto com sua
                evolução. Me interajo atravez de jogos, comunicação,
                lazer com os amigos, rede social, canais de informação, etc.
                Iniciei os estudos pesquisando primeiro por cursos gratuitos como a Rocketseat e o Curso em Vídeo que me
                ajudaram a ter uma base de como funciona os
                sistemas, lógica e os códigos. Mas eu sentia que eu precisava de algo a mais para iniciar na área de
                fato. Até que surgiu o vestibular da Fatec deste ano e fiquei sabendo por uma amiga e na mesma hora
                decidi fazer
                minha inscrição, mesmo um pouco insegura e descrente de que eu poderia ser convocada pra matricula.
                Fiquei bastante surpresa e contente com o resultado, eu considero como uma nova conquista pra este novo
                rumo que estou tomando.
                Após a formaçãp tenho objetivos de me especializar na área trabalhando com as tecnologias voltadas para
                o Front End,
                UX, Jogos, até onde eu for me identificando e gostando do que estou fazendo, o que eu mais gosto na área
                de tecnologia são as grandes oportunidades de crescimento e aprendizagem que podemos adquirir pra poder
                se
                tornar um grande profissional.
                Estou otimista em relação a minha nova formação e ocupação, apesar das dificuldades agora de iniciante
                sinto
                que estou no caminho certo e isso me deixa satisfeita e grata por toda a minha tragetória até chegar
                onde estou hoje".</p>
        </div>
    </section>


    <!--Cursos-->
    <section class="jumbotron text-center" style="background-color: white !important" id="depoimentos">
        <div class="container">
            <h2 class="jumbotron text-center titulosVerdes">
                Cursos Extra Curriculares
            </h2>
            <p class="textoBranco">No primeiro semestre de 2021 realizei estes cursos que me serviram como base de
                primeiro impacto com a área de desenvolvimento de tecnologia</p>
            <blockquote class="blockquote text-left">
                <list>
                    <li>Discover - <a href="https://app.rocketseat.com.br/discover">Rocketseat</a></li>
                    <li>Introdução ao Python - <a href="https://www.udemy.com/course/aprenda-python-3-em-6h/">Udemy</a>
                    </li>
                    <li>Introdução a Lógica de programação - <a
                            href="https://mooc.ifsp.edu.br/course/logicadeprogramacao/intro">Instituto Federal de São
                            Paulo</a></li>
                </list>
            </blockquote>
        </div>
    </section>


    <footer class="text-center corSecundaria textoFooter">
        <p class="textoBranco">Copyright 2021</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    {% endblock contents %}
</body>

</html>